<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%highlight{[%-5level]}{FATAL=bright red, ERROR=red, WARN=yellow, INFO=white, DEBUG=blue, TRACE=white}] [%logger] : %msg%n</Pattern>
            </PatternLayout>
        </Console>
        <!-- 日志滚动 -->
        <RollingFile name="RollingLogFile" fileName="logs/now.log"
                     filePattern="logs/%d{yyyy-MM-dd}-app-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%logger] : %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
                <!-- 日志清理策略 (30天) -->
                <Delete basePath="logs" maxDepth="2">
                    <IfFileName glob="*-app-*.log"/>
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingLogFile"/>
        </Root>
    </Loggers>
</Configuration>
